@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* primary */
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);

    /* neutral */
    --dark-grayish-Blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

/* customization */

body {
    font-family: 'Bai Jamjuree', sans-serif;
    height: 100vh;
    font-size: 18px;
    background: url('/images/bg-header-mobile.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

@media only screen and (min-width: 950px) {
    body {
        background: url('/images/bg-header-desktop.png');
    }
}

/* typography */

img {
    max-width: 100%;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    color: var(--dark-grayish-Blue);
}

.text {
    color: var(--grayish-blue);
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 1rem 5rem;
    outline: none;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10rem 0;
}

.intro-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-logo {
    width: 30%;
}


.intro-section__heading {
    font-weight: 600;
    max-width: 86%;
    margin: 3rem auto 1rem;
}

.intro-section__text {
    padding-bottom: 2rem;
} 

.btn--ios {
    background: var(--strong-cyan);
}

.btn--mac {
    background: var(--light-blue)
}

.btn + .btn {
    margin-top: 1rem;
}


.section-features {
    margin: 10rem 0; 
}

.section__heading {
    margin-bottom: 1rem;
}

.feature-box {
    margin-top: 4rem;
}

.feature-box img {
    margin-bottom: 4rem;
}

.feature-box div:not(:last-child) {
    margin-bottom: 3rem;
}


.section-access {
    margin: 5rem 0 ;
}

.intro-box img {
    margin: 4rem 0;
}

.box-2 {
    margin: 2rem 0 3rem 0;
}

.section-access .box:not(:last-child) {
    margin-bottom: 2rem;
}

.box img {
    margin: 3rem 0;
}

.box .box__heading {
    margin-bottom: 1rem;
}

.section-companies {
    margin: 10rem 0;
    width: 100%;
}

.company-logos {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-logos img:not(:first-child) {
    margin-top: 3.5rem;
}

.outro-section .text {
    margin-bottom: 2rem;
}

footer {
    padding: 3rem;
    background: var(--grayish-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.footer-logo {
    width: 40%;
    margin: auto;
}

.footer-links .link__items:not(:last-child){
    margin-bottom: 2rem;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-content: center;
}










